/* common page styles */
	body
	{	background: #AFBF92;
	}
	
	#all
	{	width: 950px;
		min-width: 900px;
		background: #AFCF92;
		height: 100%;
		margin-left:auto;
		margin-right: auto;		
		padding-top: 20px;
	}

	#header{
		width:875px;
		height:100px;
		margin-left: 40px;
	}
	#leftcontent{
		display:inline;
		float:left;
		width: 700px;
		margin-left: 40px;
		background: #FFF9C7;
	}
	/*#leftcontent p{
		text-indent: 2em;
	}*/
	#leftcontent h1{
		text-align: center;
	}
	#imageandmission{
		height:300px;
	}
	#flowermap{
		display: inline;
		float:left;
	}

	#allParagraph{
		padding: 10px;
		font-family: Arial;
		font-size:10pt;
	}

	#h1Wel{
		font-family: Arial;
		font-size:24pt;
		color:#AFBF92;
	}

	#h1mission{
		font-family: Arial;
		font-size:20pt;
		color:#AFBF92;
	}

	#mission{
		display:inline;
		float:right;
		background:#FAEBD7; 
		width:220px;
		margin-right: 50px;
		padding: 10px;
		height: 263px;
	}

	#contactDiv{
		border:1px solid lime;
		width:150px;
		height: 150px;
		text-align: left;
		background: #FFF9C7;
		padding-left: 5px;
	}

	#contactDiv p{
		font-family: Arial;
		font-size:10pt;

	}

	#mission p{
		font-family: Arial;
		font-size:10pt;
	}

	#contact{
		width:150px;
		display: inline;
		float:right;
		margin-right: 35px;
		margin-top: 80px;
	}

	/*#contactContent{
		margin-top:60px;
		border:1px solid lime;
		width:150px;
		height: 150px;
		text-align: left;
	}*/
	#contact img{
		width:150px;
		height: 150px;
		border:1px solid lime;
	}
	#contacth4{
		font-family: Arial;
		font-size:12pt;
		color:#CD5C5C;
	}
	a
	{	color: #324143}

	a:hover
	{	color: #7B8D3B}

	/* menu styles */
	#jsddm
	{	
		margin-top: 0px;
	}

	#jsddm li
	{	float: left;
		list-style: none;
		font: 14px Tahoma, Arial;
	}

	#jsddm li a
	{	display: block;
		background: #669933;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 100px;
		color: #EAFFED;
		white-space: nowrap;
		text-align: center}

	#jsddm li a:hover
	{	background: #668844;}
		
	#jsddm li ul
	{ 		margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white
	}
		
	#jsddm li ul li
	{	float: none;
		display: inline;
	}
			
	#jsddm li ul li a
	{	
		width: auto;
		background: #A9C251;
		color: #EAFFED;
		font: 14px Tahoma, Arial;
	}
	#jsddm li ul li a:hover
	{	
		background: #8EA344;
	}